:root {
  --color-bg: #2d2d39;
  --color-white: #e1f6fb;
  --color-primary: #71c6dd;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  counter-reset: question;
  background-color: var(--color-bg);
  color: var(--color-white);
}

.question::before,
.rule::before {
  counter-increment: question;
  content: counter(question);
}
::-webkit-scrollbar {
  width: 0;
}
.hide {
  display: none;
}

.title {
  font-size: 23px;
}

.login-btn {
  color: #e1f6fb;
  opacity: 0.8;
  font-size: 23px;
  
}
.login-btn:is(:hover,:focus,:active){
  opacity: 1;
  color: var(--color-primary);

}


.start-btn {
  color: var(--color-white);
  font-size: 18px;
}
.start-btn:is(:hover,:focus,:active) {
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}
input {
  border-radius: 6px;
  padding: 3px 4px;

}
.home-input:focus{
  outline: 2px solid var(--color-primary);

}
a {
  text-decoration: none;
  color: var(--color-white);
  cursor: pointer;
}
a:hover {
  color: var(--color-primary);
}
.custom-card {
  background-color: var(--color-bg);
  border: 1px solid var(--color-white);
}
.login-title {
  color: var(--color-white);
}
.login-container {
  max-width: 380px;
}

.submit-btn,
.submit-btn:hover {
  background-color: var(--color-primary);
  opacity: 0.8;
}
.submit-btn:hover {
  opacity: 1;
  color: var(--color-bg);
}

.mcq-create,
.mcq-create:hover,
.mcq-create:active {
  background-color: var(--color-primary);
  opacity: 0.8;
}
.mcq-create:hover {
  opacity: 1;
}

.custom-btn {
  color: var(--color-primary);
}
.custom-btn:hover {
  border: 1px solid var(--color-primary);
}

.modal-btn,
.modal-btn:hover {
  background-color: var(--color-primary);
  opacity: 0.8;
  border: none;
}
.custom-modal {
  background: var(--color-bg);
  border: 1px solid var(--color-white);
}

.box {
  min-height: 30vh;
  border: 1px solid var(--color-white);
  margin: 30px auto;
  max-width: 380px;
  font-size: 16px;
}
.score {
  font-size: 20px;
}

.restart {
  text-align: center;
  font-size: 23px;
  width: fit-content;
  padding: 0.5rem 0.6rem;
  margin: 0 auto;
  border-radius: 10px;
}
.restart:hover {
  border: 1px solid var(--color-primary);
}

.custom-table {
  max-width: 400px;
  margin: 0 auto;
}
.table {
  color: var(--color-white);
  border: var(--color-white);
}
.question-box {
  border: 1px solid var(--color-white);
  max-width: 500px;
  padding: 1rem;
}

.test-box {
  height: 100vh;
}

.timer {
  font-size: 20px;
}

.box-question {
  font-size: 24px;
}
label {
  margin-left: 5px;
  cursor: pointer;
}

.exit-btn, .exit-btn:hover{
  color:red;
  margin-right: auto;
}

.box-question{
  min-width: 420px;
  min-height: 100px;
}
.next-btn{
  color:var(--color-primary)
  
}